*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: none;
    box-sizing: border-box;
}

body{

background: #373737;

}


.HAT{ 

    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.MARGEM{

margin-right: 50px;

}

.contato{
margin-right: 50px;

}

header{
background: #171717;
height:  80px;
display: flex;
align-items: center;

    border-bottom: 0.5px solid;
    border-top: 0.5px solid;
    color: #000;
}



.header_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  margin-left: 40%;
  width: 25%;
    color: aliceblue;
}


.AS{
    font-weight: bold;
color: rgba(208, 203, 195, 0.916);
margin-right: 50px;
font-size: 16px;
}


.NOME > h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #d8d8d8;
font-size: 30px;

}

.NOME > h1 > span{
    color: #DB4444;
    font-size: 30px;
    
    }

.contato{

}


.numero{

    
}

.suprema{

    margin-left: 135px;
    margin-right: 135px;

}



.todeys{


margin-top: 220px;
display: flex;
align-items:center;

color: crimson;

}

.todeys > p{

    margin-left: 10px;
    font-size: 20px;
}
  



.conteiner_relogio_H2{

font-size: 80px;

}

.conteiner_relogio{

display: flex;

align-items: baseline;


}

.conteiner_relogio_H2 {


font-size: 40px;
margin-bottom: 10px;

}

.data{


    display: flex;
    align-items: baseline;
    margin-left: 330px;
    font-size: 20px;
    gap: 58px;
    margin-bottom: 10px;
}

.contador{

    margin-left: 70px;
    justify-content: space-between;
    gap: 20px;
    font-size:50px;

}

.contador > span {

margin-left: 10px;

}

.contador > strong{

margin-left: 10px;
color: brown;


}



.selecao_produtos{

background-color: #242424;
margin-top: 50px;
display: flex;
flex-direction: row;
}


.conteiner_produtos{

    background-color: rgba(221, 206, 206, 0.704);
height:250px ;
width: 270px;
justify-content: space-between;

margin-right: 20px;


}

.apenasPozi{

    margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;

}

.nomeproduto{


margin-bottom: -5px;
color: #000000;
 font-family: "Lexend Deca", sans-serif;
 font-weight: 600;
 flex-grow: 1; /* Faz o nome crescer para ocupar o espaço restante, sem afetar os ícones */
}

.clicar_produtos{

    display: flex;
justify-content: center;

margin-top: 40px;

}

.descrição_Prudu{

display: flex;
flex-direction: column;
justify-content: left;

}


.preço{


    color: gray;
    font-family: "Red Hat Display", sans-serif;
margin-top: 10px;
font-weight: 500;
font-size: 14px;

}

.preço > span{
    color: rgba(128, 128, 128, 0.697);
text-decoration: line-through;

margin-left: 20px;
}


.descricao{

display: flex;
flex-direction: column;

}


.img_produtos{

width: 172px;
height: 152px;

}



.fonte {
    font-family: Arial, sans-serif;
}


.card {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background: linear-gradient(to right, #d141f2, #9013fe);
    color: white;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
}

.h2_card {
    font-size: 1.5em;
    margin: 0;
}

.P_card {
    margin: 5px 0;
}
#outputCardName{

color: #000;

}

#Verifique{

color: #000;

}


 










.botao_TodosProduto {
    width: 234px;
    height: 56px;
    background-color: #DB4444;
    margin-left: 40%;
    margin-top: 90px;
    color: #ffffff;
    display: flex;
    justify-content: center;  /* Alinha horizontalmente */
    align-items: center;      /* Alinha verticalmente */
    font-size: 16px;
    text-align: center;       /* Alinha o texto no meio */
    border-radius: 4px;
}

.botao_puff {
    text-align: center;
    border-bottom: 1px solid;
    border-bottom: #000;
    margin-bottom: 50px;
}




.conteiner_ads{

margin-top: 70px  ;
margin-bottom: 40px;
width: auto;
height: 500px;
background-color: #000;
color: #d8d8d8;
display: flex;
flex-direction: row;
}



.Categoria{

    margin-top: 80px;
color: #00FF66;

}


.posicionar_itens{


display: flex;
flex-direction: column;
margin-left: 80px;

}

.posicionar_itens > h1{

font-size: 45px;
margin-left: -3px;
margin-top: 30px;
margin-right: 10px;
}


.botao_ver{


width: 171px;
height: 56px;
border-radius: 4px;
display: flex;
    justify-content: center;  /* Alinha horizontalmente */
    align-items: center;      /* Alinha verticalmente */
    font-size: 16px;
    text-align: center;       /* Alinha o texto no meio */
    background-color: #00FF66;
color: #ffffff;
margin-top: 80px;
}

.img_jbl{

margin-left: 20px;

}

.img_jbl > img{


width: 568px;
height: 330px;
margin-top: 100px;
margin-left: 50px;
}