
  
  .body {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
  }
  
  .carousel-container {
    position: relative;
    width: 892px;
    height: 344px ;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-slide img {
    width: 892px;
    border-radius: 10px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  

  .carousel-slide > img{

    width: 892px;
    height: 344px ;

  }
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }



  /* Estilo do texto sobre a imagem */
.carousel-text {


  margin-top: 130px;
  text-decoration: none ;

  position: absolute;
  top: 50%; /* Centraliza o texto verticalmente */
  left: 30%; /* Centraliza o texto horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centralizar */
  color: black; /* Cor do texto */
  font-size: 30px; /* Tamanho do texto */
  font-weight: bold; /* Deixa o texto em negrito */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para melhorar visibilidade */
  padding: 10px 20px;
  border-radius: 5px; /* Borda arredondada */
  z-index: 10; /* Garante que o texto fique acima da imagem */
}
  